body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  .add-production {
    max-width: 1200px; /* Aumente a largura máxima */
  width: 90%; /* Para torná-lo responsivo */
  margin: 30px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border: 1px solid #ddd;
    
    
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .form {
    width: 100%; /* O formulário ocupará toda a largura do contêiner */
  display: flex;
  flex-direction: column;
  gap: 15px;
  }
  
  input, textarea {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  textarea {
    resize: none;
  }
  
  button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .harvest-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .harvest-item {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  
  .harvest-item p {
    margin: 5px 0;
  }
  
  .harvest-item button {
    margin-right: 10px;
    background-color: #2196F3;
  }
  
  .harvest-item button:hover {
    background-color: #1e87e5;
  }
  
  .harvest-item button:last-child {
    background-color: #f44336;
  }
  
  .harvest-item button:last-child:hover {
    background-color: #e41f1f;
  }